@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --text-white: #fff;
    --text-black: #000;

    --primary: #fe2c55;
    --header-high: 60px;
    --Default-header-minWidth: calc(100% - 60px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}

// custome tippy
.tippy-box {
    border-radius: 7px;
}

.tippy-content {
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px;
}

.tippy-arrow {
    color: rgba(84, 84, 84, 1.62);
}
