.menu-list {
    width: 223px;
    margin-top: 2px;

    .menu-item {
        width: 100%;
        margin-left: 0;
        border-color: transparent;
        padding: 10px 16px;
        height: 41px;
        text-align: start;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }

    .wrapper {
        margin-left: 0;
    }
}

.wrapper-popper {
    padding: 8px 0;
}

// Header submenu
.header {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    text-align: center;
    margin-top: -8px;

    .icon {
        position: absolute;
        left: 28px;
    }

    .title {
        flex: 1;
        font-weight: 400;
    }
}
