.wrapper {
    display: flex;
    padding: 9px 16px;
}

.img {
    border-radius: 50%;
    object-fit: 1;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.info {
    flex: 1;
}

.username {
    font-size: 1.4rem;
    line-height: 21px;
    font-weight: 500;
}

.name {
    display: block;
    line-height: 18px;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.5);
}

.icon {
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
    margin-left: 6px;
}
