.wrapper {
    --search-height: 46px;
    --search-width: 500px;
    --search-btn-width: 52px;

    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    width: 1150px;
    min-width: var(--Default-header-minWidth);
    height: var(--header-high);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: var(--search-width);
}

.search {
    height: var(--search-height);
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    input {
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
        height: 100%;
        padding-left: 16px;
        flex: 1;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #000;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
        right: 52px;
        top: calc((var(--search-height) - 28px) / 2);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &:hover .search-btn {
        background-color: rgba(22, 24, 35, 0.06);
        color: #000;
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: calc(var(--search-height) / 2);
    transform: translateY(-50%);
}

.search-btn {
    font-size: 1.8rem;
    width: var(--search-btn-width);
    height: 100%;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    cursor: pointer;
}

.label {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    letter-spacing: 0.093px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
}

.more-btn {
    width: 20px;
    margin-left: 16px;
    padding: 0 4px;
    font-size: 16px;
    background-color: transparent;
}

// User login
.action {
    display: flex;
    gap: 26px;
    align-items: center;
}

.user-icon {
    background-color: transparent;
    font-size: 21px;
}

.avt {
    width: 32px;
    height: 32px;
    object-fit: 1;
    border-radius: 50%;
}
