.wrapper {
    --search-height: 46px;
    --search-width: 500px;
    --search-btn-width: 52px;

    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    width: 1150px;
    min-width: var(--Default-header-minWidth);
    height: var(--header-high);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-btn {
    width: 20px;
    margin-left: 16px;
    padding: 0 4px;
    font-size: 16px;
    background-color: transparent;
}

// User login
.action {
    display: flex;
    gap: 21px;
    align-items: center;
}

.user-icon {
    background-color: transparent;
    height: 26px;
    width: 26px;
}

.avt {
    width: 32px;
    height: 32px;
    object-fit: 1;
    border-radius: 50%;
}
